#https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
humanize>=4.0.0
aiohttp>=3.9.0
aioshutil
aiofiles
anitopy
apscheduler
dnspython
motor==3.3.2
pymongo==4.6.1
feedparser
psutil
pycountry
pyrofork==2.3.45
python-dotenv
tgcrypto
pillow
pytz
telegraph